.home{
    height: 100vh;
    padding: 20px;
    background: url(https://img.freepik.com/free-photo/shopping-bag-cart_23-2148879372.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}