.home{
    background: url(https://img.freepik.com/free-photo/shopping-bag-cart_23-2148879372.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
}
.home .card{
    gap: 10px;
    height: 350px;
    padding: 20px;
}
.home img{
    width: 100px;
    height: 100px;
}